body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  --body-background: #fafafa;

  --header-background-color: #ffffff;
  --header-color: #000000;
  --country-color: #000000;
  --country-background-color: #ffffff;
  --search-color: #000000;
  --search-caret-color: #000000;
  --search-background-color: #ffffff;
  --search-placeholder-color: #b0b0b0;
  --filter-color: #000000;
  --filter-background-color: #ffffff;
}

body.dark-theme {
  background-color: #202d36;

  --header-background-color: #2b3743;
  --header-color: #ffffff;
  --country-color: #ffffff;
  --country-background-color: #2b3743;
  --search-color: #ffffff;
  --search-caret-color: #ffffff;
  --search-background-color: #2b3743;
  --search-placeholder-color: #ffffff;
  --filter-color: #ffffff;
  --filter-background-color: #2b3743;
}

* {
  transition: all 0.2s;
}
